@charset "utf-8";

:root{
    --text-color: #535353;
    --main-color: #b7daec;
    --sub-color: #275e72;
    --acsent-color: #e49114;
    --background-color: #e7e7e6;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 2rem;
}

h1, h2, h3{
    font-family: "Zen Kurenaido", sans-serif;
    margin: 0;
}

ul{
    list-style-type: disc;
    padding-inline-start: 20px;
}

li,a {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

a{
    text-decoration: none;
    color: var(--sub-color);
}

.container{
    max-width: 1400px;
    margin: 30px auto;
    padding: 20px;
    background-image: radial-gradient(#54615b 1px, transparent 1px), radial-gradient(#54615b 1px, transparent 1px);
    background-size: 40px 40px;
    background-color: #697c73;
    border-color: #5c4331;
    border-style: solid;
    border-width: 14px;
}

@media screen and (max-width: 920px){
    .container{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
}

.title-wrap{
    text-align: center;
    height: 50px;
    margin: 1rem auto;
    font-size: 1.05rem;
    color: var(--background-color);
    transform: rotate(-2deg); 
}

.name-wrap{
    text-align: center;
    height: 50px;
    margin: 1rem auto;
    font-size: 1.5rem;
    color: var(--background-color);
    transform: rotate(-2deg); 
}

.kanban-wrap{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.memo-wrap{
    position: relative;
    max-width: 300px;
    margin: 2rem 1em;
    padding: 2rem;
    border-radius: 2px;
    z-index: 10;
    background-image: linear-gradient(#a7b0da 1px, transparent 1px), linear-gradient(90deg, #a7b0da 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #c0d6f1;
    box-shadow: 3px 3px 2px #506194;
}

@media screen and (max-width: 920px){
    .kanban-wrap{
        display: block;
        width: 100%;
    }

    .memo-wrap{
        max-width: 200px;
        margin: 4rem auto;
    }
}

.memo1{
    transform: rotate(2deg); 
    top: 8px;
    left: -60px;
}

.memo2{
    transform: rotate(-2deg);
    top: -8px;
}

.memo3{
    transform: rotate(1deg);
}

@media screen and (max-width: 920px){
    .memo1{
        left: 0px;
        top: -200px;
    }

    .memo2{
        top: -200px;
    }

    .memo3{
        top: -200px;
    }
}

.pin-top{
    position: relative;
    top: -14px;
}

.pin-wrap{
    position: relative;
    display: flex;
    max-width: 340px;
    height: 10px;
    justify-content: space-between;
    z-index: 100;
}

@media screen and (max-width: 920px){
    .pin-wrap{
        max-width: 200px;
        left: 0;
        top: 0;
    }
}

.pin-left, .pin-right{
    border:var(--acsent-color) solid 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #945b35;
}

.text{
    margin: 2rem auto;
}

.short-text{
    width: 150px;
}

.img-sd img{
    width: auto;
    height: 150px;
    position: relative;
    top: 220px;
    left: 40px;
    z-index: 100;
}

.img-face img{
    width: auto;
    height: 140px;
    position: relative;
    top: -80px;
    right: -140px;
    z-index: 100;
}

.img-pancake img{
    width: auto;
    height: 100px;
    position: relative;
    top: 200px;
    left: -100px;
    z-index: 100;
}

.img-book img{
    width: auto;
    height: 220px;
    position: relative;
    top: 160px;
    left: -100px;
    z-index: 100;
}

@media screen and (max-width: 920px){
    .img-sd img{
        width: auto;
        height: 150px;
        position: relative;
        top: 220px;
        left: 5%;
    }

    .img-face img{
        width: auto;
        height: 100px;
        position: relative;
        top: -80px;
        right: -30%;
    }

    .img-pancake img{
        width: auto;
        height: 100px;
        position: relative;
        top: -316px;
        left: 50%;
    }

    .img-book img{
        width: auto;
        height: 170px;
        position: relative;
        top: -308px;
        left: 25%;
    }
}